<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ylapl.mapper.YlCompanyMapper">
  <resultMap id="BaseResultMap" type="cn.ylapl.entity.YlCompany">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="company_full_name" jdbcType="VARCHAR" property="companyFullName" />
    <result column="company_short_name" jdbcType="VARCHAR" property="companyShortName" />
    <result column="company_logo" jdbcType="VARCHAR" property="companyLogo" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="industry_field" jdbcType="VARCHAR" property="industryField" />
    <result column="company_features" jdbcType="VARCHAR" property="companyFeatures" />
    <result column="finance_stage" jdbcType="VARCHAR" property="financeStage" />
    <result column="interview_remark_num" jdbcType="INTEGER" property="interviewRemarkNum" />
    <result column="position_num" jdbcType="INTEGER" property="positionNum" />
    <result column="process_rate" jdbcType="INTEGER" property="processRate" />
    <result column="approve" jdbcType="INTEGER" property="approve" />
    <result column="country_score" jdbcType="INTEGER" property="countryScore" />
    <result column="city_score" jdbcType="INTEGER" property="cityScore" />
  </resultMap>
</mapper>