<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ylapl.mapper.YlCompanyQccMapper">
  <resultMap id="BaseResultMap" type="cn.ylapl.entity.YlCompanyQcc">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_info" jdbcType="LONGVARCHAR" property="companyInfo" />
    <result column="company_business_information" jdbcType="LONGVARCHAR" property="companyBusinessInformation" />
    <result column="company_shareholder" jdbcType="LONGVARCHAR" property="companyShareholder" />
    <result column="company_key_personnel" jdbcType="LONGVARCHAR" property="companyKeyPersonnel" />
    <result column="branch" jdbcType="LONGVARCHAR" property="branch" />
    <result column="company_change_record" jdbcType="LONGVARCHAR" property="companyChangeRecord" />
    <result column="documents" jdbcType="LONGVARCHAR" property="documents" />
    <result column="court_notice" jdbcType="LONGVARCHAR" property="courtNotice" />
    <result column="tax" jdbcType="LONGVARCHAR" property="tax" />
    <result column="product" jdbcType="LONGVARCHAR" property="product" />
    <result column="financing" jdbcType="LONGVARCHAR" property="financing" />
    <result column="financial" jdbcType="LONGVARCHAR" property="financial" />
    <result column="outbound" jdbcType="LONGVARCHAR" property="outbound" />
    <result column="annual" jdbcType="LONGVARCHAR" property="annual" />
    <result column="trademark" jdbcType="LONGVARCHAR" property="trademark" />
    <result column="copyright" jdbcType="LONGVARCHAR" property="copyright" />
    <result column="soft_copyright" jdbcType="LONGVARCHAR" property="softCopyright" />
    <result column="website" jdbcType="LONGVARCHAR" property="website" />
  </resultMap>
</mapper>